$w100: 100%;
$h100: 100%;
$primary: #6f979722;
$secondary: #aee987;
$tertiary: #fae467;
$quaternary: #ce3914;

@mixin flex-center(){
    justify-content: center;
    align-items: center;
}

@mixin fullSize(){
    width: 100%;
    height: 100%;
}

@mixin cflx(){
    display: flex;
    flex-direction: column;
}
@mixin rflx(){
    display: flex;
    flex-direction: row;
}

*, ::before, ::after{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
    @include fullSize;
}

body{
    overflow: hidden;
    overflow-y: auto;
}

main{
    @include cflx;

    margin: 0 auto;
    padding: 5px;
    
    max-width: 720px;
    min-height: $h100;

    background-color: $primary;
}

.container{
    @include cflx;
    @include flex-center;

    margin: 0 auto;

    width: $w100;
    max-width: 250px;


    border: solid 2px $secondary;
    border-radius: 5px;
    overflow: hidden;

    background-color: #e2e2e2;
}

%rflx{
    display: flex;
    flex-direction: row;
}

button{
    border: none;
    border-radius: 0;
    cursor: pointer;
}

input{
    border: none;
    border-radius: 0;
}

#inputSection{
    @include cflx;

    // background-color: red;
    // padding: 5px;
    border-top: solid 2px $secondary;
    border-radius: 0 0 5px;
    overflow: hidden;

    margin-top: 5px;

    width: $w100;

    *{
        width: $w100;
    }

    input{
        min-height: 40px;
        padding: 0 5px;

        font-size: 20px;
        text-align: center
    }

    #buttonSection{
        @include rflx;
        button:first-child{
            // color: red;
            background-color: $quaternary;
        }
        button:first-child:hover{
            background-color: #b80c0c;
        }
    }
    button{
        @include cflx;
        @include flex-center;

        max-height: 30px;
        font-size: 35px;

        color: $tertiary;
        background-color: $secondary
        
    }
    button:hover{
        color: $secondary;
        background-color: $tertiary;
    }

}

#itemList{
    @include fullSize();
    padding: 5px 0;
}

article{
    @include rflx();
    @include fullSize();
    padding: 5px;
    margin-bottom: 2px;

    background-color: $primary;

}
#slctAll{
    // margin-bottom: 5px;
    border-bottom: solid 2px $secondary;
}

.displayNone{
    display: none;
}

.fullWidth{
    width: $w100;
}

.fullHeight{
    height: $h100;
}




