$w100: 100%;
$h100: 100%;
$primary: #6f979722;
$secondary: #6fcaee;
$tertiary: #c0cfd5;
$quaternary: #ce3914;
$quintenary: #b80c0c;

@mixin flex-center(){
    justify-content: center;
    align-items: center;
}

@mixin fullSize(){
    @extend .fullHeight;
    @extend .fullWidth;
}

@mixin cflx(){
    display: flex;
    flex-direction: column;
}
@mixin rflx(){
    display: flex;
    flex-direction: row;
}

*, ::before, ::after{
    box-sizing: border-box;
	margin: 0;
	padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    @include fullSize;
}

body{
    overflow: hidden;
    overflow-y: auto;
}

main{
    @include cflx;

    margin: 0 auto;
    padding: 5px;
    
    min-height: $h100;

    background-color: $primary;
}

.container{
    @include cflx;
    @include flex-center;

    margin: 0 auto;

    width: $w100;
    max-width: 400px;

    border: solid 2px $secondary;
    border-radius: 5px;
    overflow: hidden;

    background-color: $primary;
}

button{
    border: none;
    border-radius: 0;
    cursor: pointer;
}

input{
    border: none;
    border-radius: 0;
}

#inputSection{
    @include cflx;

    border-top: solid 2px $secondary;
    border-radius: 0 0 5px;
    overflow: hidden;

    width: $w100;

    *{
        width: $w100;
    }

    input{
        min-height: 40px;
        padding: 0 5px;

        font-size: 20px;
        text-align: center;
        text-transform: capitalize;
    }

    #buttonSection{
        @include rflx;
        button:first-child{
            background-color: $quaternary;
        }
        button:first-child:hover{
            background-color: $quintenary;
        }
    }
    button{
        @include cflx;
        @include flex-center;

        max-height: 30px;
        font-size: 35px;

        color: $tertiary;
        background-color: $secondary
        
    }
    button:hover{
        color: $secondary;
        background-color: $tertiary;
    }

}

#itemList{
    @include fullSize();
}

article{
    @include rflx();
    @include fullSize();
    padding: 5px;
    margin-bottom: 2px;

    background-color: $primary;

    overflow-wrap: break-word;
    // overflow-wrap: anywhere;

    text-transform: capitalize;

    label{
        overflow: hidden;
    }
    input[type='checkbox']{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}
#slctAll{
    border-bottom: solid 2px $secondary;
}

h4{
    margin: 5px;
}

.displayNone{
    display: none;
}

.fullWidth{
    width: $w100;
}

.fullHeight{
    height: $h100;
}


